// Font
$font: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$font-size: 32px;
$line-height: 1.2;

// Theme
$primary-color: #095ce5;
$accent-color: #2d333f;
$primary-text-color: #333;
$secondary-text-color: #666;
$white-text-color: #fff;
$light-text-color: #dbdce0;

// Layout
$layout-height: 1080px;
$layout-min-width: 960px;

