// Font
$font: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
$font-hanyi: "hanyi", Arial, sans-serif;
$font-digital: "digital", Arial, sans-serif;
$font-fangzheng: "FZZCHJW", "PingFang SC", Arial, sans-serif;
$font-led: "led", "PingFang SC", Arial, sans-serif;
$font-size: 32px;
$line-height: 1.2;

// Theme
$primary-color: #095ce5;
$accent-color: #2d333f;
$primary-text-color: #333;
$secondary-text-color: #666;
$white-text-color: #fff;
$light-text-color: #dbdce0;
$bg-color: #ededed;
$title-color: #0efcff;
$blue-color: #00f6ff;
$blue-text-color: #1b96ff;
$yellow-color: #fefd38;
$green-color: #2fec34;
$red-color: #f9424b;
$red-pink-color: #fb326d;
$title-yellow-color: #f1cc39;
$number-yellow-color: #e8da30;

// Layout
$layout-height: 1080px;
$layout-min-width: 960px;

