body,
input,
button,
textarea,
select,
option {
  font: normal $font-size $font;
}

a,
p {
  word-break: break-all;
}

body {
  position: relative;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  // background-color: $common-bg-color;
  color: $primary-text-color;
  overflow-x: hidden;
}
