@mixin bg-style($type: contain, $position: center) {
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $type;
}

@mixin bg($name, $ext: "png", $path: "~@/assets/images") {
  background-image: url("#{$path}/#{$name}.#{$ext}");
}
